<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoList</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<div id="myDIV" class="header">
    <h2>My To Do List</h2>
    <h3>--&emsp;SwYoung <a href="/timeline">--My TimeLine</a> </h3>
    <input type="text" id="myInput" placeholder="Title...">
    <span onclick="newElement()" class="addBtn">Add</span>
</div>

<ul id="myUL">
    {% for list in lists %}
    {% if list.status==2: %}
    <li id={{list.id}}>{{list.content}}</li>
    {% endif %}
    {% if list.status==1: %}
    <li class="checked" id={{list.id}}>{{list.content}}</li>
    {% endif %}
    {% endfor %}
</ul>
</body>
</html>

{% block js %}
<script type="text/javascript" src="../static/todo.js"></script>
<script type="text/javascript" src="../static/jquery.js"></script>

{% endblock %}
