<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>timeline</title>
    <link href="../static/timeline.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="timeline">
    {% for list in lists %}
    {% if list.status==2: %}
    <div class="container left">
        <div class="content" style="background-color: #FF9F55">
            <h2>{{list.create_date}}</h2>
            <p>{{list.content}}</p>
        </div>
    </div>
    {% endif %}
    {% if list.status==1: %}
    <div class="container right">
        <div class="content" style="background-color: green">
            <h2>{{list.create_date}}</h2>
            <p>{{list.content}}</p>
        </div>
    </div>
    {% endif %}
    {% if list.status==0: %}
    <div class="container right">
        <div class="content">
            <h2>{{list.create_date}}</h2>
            <p>{{list.content}}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>
</body>
<!--页面底部-->
<footer class="footer">
    <div class="footer-cont" style="max-width:935px;">
        <a class="footer-link" href="https://github.com/youngsw">Github</a>
        <a class="footer-link" href="https://youngsw.github.io/">My Blog</a>
        <a class="footer-link" href="https://github.com/youngsw/ToDoList">Project Url</a>
        <span class="copy-right">© 2020 SwYoung</span>
    </div>
</footer>
</html>